
<link rel="stylesheet" href="~/css/styleHomeIndex.css" />
@{
    ViewData["Title"] = "Home Page";
  
}

<meta charset="utf-8">
<script src="/js/intlTelInput.min.js" charset="utf-8"></script>



<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <br>
    <h5 class="display-5">Выберите, с чем Вы хотите работать.</h5>
    <hr>
  
    <br />
  

    <div class="middle">

      
        <a asp-controller="Workers" asp-action="Index" class="boxDepLink">
            <div class="boxDepartment">
                <div class="logoDepartment">
                    <div class="nameDepartment">Наш персонал</div>
                </div>
                <div class="descriptionDep">
                    <img style="width:60px; height:60px; margin-top:30px" src="~/images/workersBlack.png" />

                    <div class="count">Количество записей: @ViewBag.WorkerCount</div>
                </div>


            </div>
        </a>

        <a asp-controller="Departments" asp-action="Index" class="boxDepLink">
            <div class="boxDepartment">
                <div class="logoDepartment">

                    <div class="nameDepartment">Отделы</div>
                </div>
                <div class="descriptionDep">
                    <img style="width:60px; height:60px; margin-top:30px" src="~/images/departmentBlack.png" />

                    <div class="count">Количество записей: @ViewBag.DepartmentCount</div>
                </div>


            </div>
        </a>

        <a asp-controller="Posts" asp-action="Index" class="boxDepLink">
            <div class="boxDepartment">
                <div class="logoDepartment">

                    <div class="nameDepartment">Должности</div>
                </div>
                <div class="descriptionDep">
                    <img style="width:60px; height:60px; margin-top:30px" src="~/images/postBlack.png" />

                    <div class="count">Количество записей: @ViewBag.PostCount</div>
                </div>


            </div>
        </a>
        
 <br>
    <hr>
        <p style="font-size: 23px;">Сайт, предназначенный для внутреннего пользования сотрудников компании.</p>
    </div>
</div>



