<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Laba1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Laba1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <input type="checkbox" id="side-checkbox" />
                <div class="side-panel">
                    <label class="side-button-2" for="side-checkbox">+</label>
                  
                    <div class="side-title">Список страниц:</div>
                   
                    <a class="menuItem" asp-area="" asp-controller="Workers" asp-action="Index">
                        <div style="margin-top:7px">
                        <img style="width:30px; height:30px; margin-top:-5px" src="~/images/workersWhite.png" />
                        Работники
                        </div>
                    </a>
                    <a class="menuItem" asp-area="" asp-controller="Posts" asp-action="Index">
                        <div style="margin-top:7px">
                        <img style="width:30px; height:30px; margin-top:-5px" src="~/images/postWhite.png" />
                        Должности
                        </div>
                    </a>

                    <a class="menuItem" asp-area="" asp-controller="Departments" asp-action="Index">
                        <div style="margin-top:7px">
                        <img style="width:30px; height:25px" src="~/images/departmentWhite.png" />
                        Отделы
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a class="menuItem" asp-area="" asp-controller="AdressDepartments" asp-action="Index">
                        <div style="margin-top:7px">
                            <img style="width:30px; height:30px" src="~/images/adressDep.png" />
                            Адреса отделов
                        </div>
                    </a>
                </div>
                <div class="side-button-1-wr">
                    <label class="side-button-1" for="side-checkbox">
                        <div class="side-b side-open" >
                            <img style="width:30px; height:30px" src="~/images/menu-icon.png"/>
                        </div>
                        <div class="side-b side-close">
                            <img style="width:30px; height:30px" src="~/images/menu-icon.png" />
                        </div>
                    </label>
                </div>
                
                <a class="navbar-brand" style="margin-left:70px" asp-area="" asp-controller="Home" asp-action="Index">Отдел кадров</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a asp-controller="Workers" asp-action="Index">
                <button   class="custom-btn btn-16">Наш персонал</button>
                </a>

                <a asp-controller="Departments" asp-action="Index">
                    <button class="custom-btn btn-16">Отделы</button>
                </a>

                <a asp-controller="Posts" asp-action="Index">
                    <button class="custom-btn btn-16">Должности</button>
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   
                    <ul class="navbar-nav flex-grow-1">
                       
                          <li class="nav-item dropdown">
                            
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Страницы отдела кадров
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="" asp-controller="Workers" asp-action="IndexAllWorkers">Все сотрудники</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Index">Должности</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Отделы</a></li>
             <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="AdressDepartments" asp-action="Index">Адреса отделов</a></li>
           
          </ul>
        </li>
                    </ul>
                 
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Insurance company - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
