@model Laba1.Models.PostsOfDepartment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int close = 0;
    
}
 
           
            
            
            @foreach (var item2 in ViewBag.PostsCount)
            {
                if (Model.PostId == item2.PostId)
                {
                    close += 1;
                }
            }
        

<h1>Изменение записи</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="PostId" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DepartmentId" />
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" name="open" class="form-control" /> <span>Не меньше: @close</span>
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="hidden" name="close" value="@close"/>
                <input type="submit" value="Изменить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Departments" asp-action="Details" asp-route-id="@Model.DepartmentId">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
