@{
    ViewData["Title"] = "Ошибка изменения";
}

<div class="text-center">
    <h1 class="display-4">Количество вакансий не должно быть меньше занятых вакансий!</h1>
    <p>Вернитесь назад и измените данные.</p>
    <p><a  asp-action="Edit" asp-route-id="@ViewBag.id">Вернуться назад</a></p>


</div>