@{
    ViewData["Title"] = "Ошибка добавления";
}

<div class="text-center">
    <h1 class="display-4">Данная должность уже существует в отделе!</h1>
    <p>Вернитесь назад и измените данные.</p>
    <p><a asp-action="AddPost" asp-route-id="@ViewBag.id">Вернуться назад</a></p>


</div>
