@{
    ViewData["Title"] = "Ошибка добавления";
}

<div class="text-center">
    <h1 class="display-4">Такие данные уже существуют!</h1>
    <p>Вернитесь назад и измените данные.</p>
    <p><a asp-action="AddWorker" asp-route-id="@ViewBag.id">Вернуться назад</a></p>
        
    
</div>
