@model Laba1.Models.Worker

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить работника</h1>

<h4>Работник</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Middlename" class="control-label"></label>
                <input asp-for="Middlename" class="form-control" />
                <span asp-validation-for="Middlename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-select">
                   <option value="Не указано">Не указано</option>
                    <option value="Мужской">Мужской</option>
                    <option value="Женский">Женский</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="idDepartment" class="control-label"></label>
                <select asp-for="idDepartment" class="form-select" asp-items="ViewBag.idDepartment"></select>
            </div>
            <div class="form-group">
                <label asp-for="idPost" class="control-label"></label>
                <select asp-for="idPost" class="form-select" asp-items="ViewBag.idPost"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" style="margin-top: 20px" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
